numpy
scipy
pandas
matplotlib
altair
python-dotenv
tqdm
filelock
typer
sh
CurrencyConverter
altair-saver
spacy
scikit-learn
beautifulsoup4
textacy
gensim
sentence-transformers
bertopic
python-dev-tools
transformers
pyairtable
#git+https://github.com/nestauk/jacc-hammer.git@legacy
pandas-profiling
missingno
bertopic
google-auth-oauthlib
google-api-python-client
chromedriver-autoinstaller
selenium
df2gspread
openpyxl
seaborn
datasets
umap-learn
