numpy
scipy
pandas
matplotlib
altair
metaflow
python-dotenv
tqdm
filelock
typer
sh
CurrencyConverter
pyldavis
tomotopy
altair-saver
selenium
webdriver-manager
spacy
scikit-learn
beautifulsoup4
textacy
gensim
sentence-transformers
#git+https://github.com/nestauk/jacc-hammer.git@legacy
#tables
pandas-profiling
missingno
bertopic
#data_getters @ git+https://github.com/nestauk/data_getters.git
google-auth-oauthlib
google-api-python-client
chromedriver-autoinstaller
