data_getters @ git+https://github.com/nestauk/data_getters.git
numpy
scipy
pandas
matplotlib
altair
metaflow
python-dotenv
tqdm
filelock
typer
sh
networkx
spacy
gensim==3.8
spacy
networkx
cdlib
altair
altair-saver
selenium
webdriver-manager
pymysql==0.9.3
sqlalchemy==1.3.4
jupyterlab
umap-learn
corextopic
git+https://github.com/nestauk/wiki_topic_labels.git
vaderSentiment
